language: node_js
node_js:
  - 12
install:
  - yarn
cache:
  directories:
    - node_modules
before_deploy:
  - npm install netlify-cli -g
  - yarn build
jobs:
  include:
    - stage: test
      script: yarn test
    - name: 'Publish to Chromatic'
     script: yarn chromatic --project-token=${CHROMATIC_PROJECT_TOKEN}
    - stage: deploy
      script: netlify deploy --dir=dist --prod
